:root{
--fontcolor:hsl(233, 8%, 62%);	
--footerbg:hsl(233, 26%, 24%);
--btnbgcolor:linear-gradient(50deg, hsl(143, 62%, 50%), hsl(186, 65%, 48%));

}

@font-face{
	font-family: 'Public Sans';
	src: url("fonts/PublicSans-Regular.ttf") format("truetype");
	
}
@font-face{
	font-family: 'Public Sans';
	src: url("fonts/PublicSans-Medium.ttf") format("truetype");
	
}

@font-face{
	font-family: 'Public Sans';
	src: url("fonts/PublicSans-SemiBold.ttf") format("truetype");	
}
@font-face{
	font-family: 'Public Sans';
	src: url("fonts/PublicSans-VariableFont_wght.woff2") format("woff2");
	
}


*{
	
margin:0;
padding:0;
box-sizing: border-box;	
}



body{
font-family: 'Public Sans';
	font-size:18px;
	line-height:1.5;
	width:100%;

}
.container{
	
max-width:1200px;
margin:0 auto;


}
header.head_section {
    box-shadow: 5px 5px 5px #ded8d87d;
        position: relative;
    background: #fff;
    z-index: 1;
}

.header_outer {
    display: flex;
    align-items: center;
       justify-content: space-between;

	flex-wrap: wrap;
	



}
/*nav.nav_bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
ul.menu li {
    display: inline-block;
}

.menu li a {
    text-decoration: none;
    padding: 15px 15px;
    color: var(--fontcolor);
    position: relative;
    font-weight: 400;
    transition: 0.3s;
    display: inline-block;
    padding: 20px 20px;
}
.menu li:first-child a {
    
    color: hsl(136, 65%, 51%);
    font-weight: 700;
}
.menu li a:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}
.menu li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
        background-image: var(--btnbgcolor);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s;
}
ul.menu li {
    list-style-type: none;
	padding: 15px 10px;
}

.menu li a:hover {
    color: #555;
    font-weight: 600;
}



span.req_btn a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
	  border: 1px solid #84e2a9;
    border-radius: 32px;
    display: inline-flex;
    background-image: var(--btnbgcolor);
   padding: 15px 20px;
    transition: 0.3s;

}
span.req_btn:hover a{
	
	    opacity: 0.5;

	
}
section.next_sec {
    background-image: url(../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    position: relative;
	/*background-position:right;*/
	       background-position: 610px -250px;
	/*background-size:contain;*/
	    background-size: auto;
	    background-color: hsl(0, 0%, 98%);
		    margin-bottom: 40px;
			height:800px;


    /* right: -98px; */
}


/*section.next_sec::before {
    content:'';
	background-image: url('../images/image-mockups.png');
    position: absolute;
	top:0;
	min-height:1000px;
	background-repeat:no-repeat;
	min-width:100%;
	right:0;
}*/


.inner_next {
    display: flex;
    /*justify-content: space-around;
    align-items: center;*/
}


.next_content {
    flex-basis: 33%;
        padding: 230px 0px;

   

}
.next_content h1 {
    padding: 10px 0px;
}
.next_content p {
    
	color:var(--fontcolor);
	padding: 10px 0px;
    margin-bottom: 15px;
}



.next_imgbox {
   align-self: flex-end;
    flex-basis: 45%;
    position: absolute;
    right: 50px;
    top: -25px;
}


main.choose {
    background-color: hsl(220, 16%, 96%);
	    margin-bottom: 40px;

}
.choose_content h1 {
    padding-top: 80px;
}

.esaybank {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
	flex-wrap:wrap;
}
.online_bank {
    flex-basis: 23%;
	    padding: 50px 0px;

}
.online_bank img, h4, p {
    padding: 20px 0px;
}
.online_bank p {
    color: var(--fontcolor);
}

.article {
    margin-bottom: 40px;
}
.last_content h2 {
    padding: 60px 0px;
}
.last_article {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content:space-between;
    
}
.last_img {
    flex: 21%;
    border: 1px solid #fff;
    box-shadow: 6px 6px 5px #ded8d87d;
   border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #fff;
    padding-bottom: 25px;
    height: 100%;
    transition: 0.3s;
	cursor:pointer;

}	
.last_img:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
    background-image: var(--btnbgcolor);
    color: #fff;
}

.last_img img {
    max-width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 5px;
	    margin-bottom: 25px;

}

span.last_author, p.last_para {
    
    color: var(--fontcolor);
}
															




.last_img h3, .last_author, .last_para {
    
    padding: 5px 24px;
}

footer.footer_banner {
    background-color: var(--footerbg);
}

.footer-logoimg img {
       padding-bottom: 35px;

}
.footer-box {
    flex-basis: 25%;
}
.footer_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0;
}
ul.font li:hover a {
    color: hsl(136, 65%, 51%);
}
ul.font li:first-child a {
    color: hsl(136, 65%, 51%);
}
ul.font li a {
    font-size: 25px;
    color: #fff;
    transition: 0.3s;
    padding: 0px 10px;
}

ul.font li {
    list-style-type: none;
    display: inline-block;
}
ul.footer_menu li {
    
    list-style-type: none;
}
ul.footer_menu li a {
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
    padding-bottom: 15px;
    transition: 0.3s ease;
	position:relative;
    text-decoration: none;
}

.footer_menu li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-image: var(--btnbgcolor);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s;
}

.footer_menu li a:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}


ul.footer_menu li:hover a {
    color: hsl(136, 65%, 51%);
}


.footer-box span.req_btn {
    display: block;
    text-align: right;
}

.footer-box p {
    color: #9698a6;
    text-align: right;
}

@media (max-width: 575.98px) { 

body{
	
width:100%;	
font-size:16px;	
}
.container {
    
    padding: 0px 30px;
}
.header_outer {
    
    justify-content: center;
       padding: 30px 0px;

}


section.next_sec {
    background-image: url(../images/bg-intro-mobile.svg);
	    background-position: 50% 0%;
		margin-bottom:10px;

	 
}
.next_imgbox {
   
    /* flex-basis: 80%; */
   
    right: 70px;
    top: -62px;
}

.next_imgbox img {
    max-height: 550px;
    max-width: 550px;
}

.next_content {
    flex-basis: 100%;
    padding-top: 470px;
	text-align:center;
}



main.choose {
    text-align: center;
	margin-bottom:0px;

}
.online_bank {
    flex-basis: 100%;
    padding: 0px 0px;
}

.article {
    text-align: center;
}


.last_img {
    flex-basis: 100%;
    
}
.last_img img {
    max-width: 100%;
    height: 100%;
     margin-bottom: 5px;
}
footer.footer_banner {
    text-align: center;
}

.footer-box {
    flex-basis: 100%;
    
}
ul.font {
    padding-bottom: 30px;
}
.footer-box span.req_btn {
    display: block;
    text-align: center;
}
.footer-box p {
    
    text-align: center;
}
}


@media (min-width: 576px) and (max-width: 767.98px) { 
.header_outer {
    
    justify-content: center;
       padding: 30px 0px;

}
.container {
    
    padding: 0px 30px;
}
section.next_sec {
    background-image: url(../images/bg-intro-mobile.svg);
	    background-position: 50% 0%;
		margin-bottom:10px;

	 
}
.next_imgbox {
   
    /* flex-basis: 80%; */
   
    right: 70px;
    top: -62px;
}

.next_imgbox img {
    max-height: 550px;
    max-width: 550px;
}


.next_content {
    flex-basis: 100%;
    padding-top: 470px;
	text-align:center;
}



main.choose {
    text-align: center;
	margin-bottom:0px;

}
.online_bank {
    flex-basis: 100%;
    padding: 0px 0px;
}

.article {
    text-align: center;
}


.last_img {
    flex-basis: 100%;
    
}
.last_img img {
    max-width: 100%;
    height: 100%;
     margin-bottom: 5px;
}
footer.footer_banner {
    text-align: center;
}

.footer-box {
    flex-basis: 100%;
    
}
ul.font {
    padding-bottom: 30px;
}

.footer-box p {
    text-align: center;
}
.footer-box span.req_btn {
    display:inline-block;
    text-align:center;
}

}

@media (min-width: 768px) and (max-width: 1199.98px) {

.container {
    padding: 0px 20px;
    
}
ul.menu li a {
    font-size: 15px;
    padding: 30px 6px;
}
span.req_btn a {
    
    padding: 10px 30px;
    font-size: 15px;
}




section.next_sec {
    background-image: url(../images/bg-intro-mobile.svg);
	    background-position: 50% 0%;
		margin-bottom:10px;

	 
}
.next_imgbox {
   
    /* flex-basis: 80%; */
   
    right: 70px;
    top: -62px;
}

.next_imgbox img {
    max-height: 550px;
    max-width: 550px;
}

.next_content {
    flex-basis: 100%;
    padding-top: 470px;
	text-align:center;
}



main.choose {
    text-align: center;
	margin-bottom:0px;

}
.online_bank {
    flex-basis: 42%;
    padding: 5px 0px;
}

.article {
    text-align: center;
}


.last_img {
    flex-basis: 40%;
    
}
.last_img img {
   
    height: 280px;
    margin-bottom: 5px;
    object-fit: cover;
}
ul.font li a {
    font-size: 20px;
    
}

}


@media (min-width:1200px) and (max-width: 1399.98px){ 






}